.form {
	max-width: 480px;
	margin: 0 auto;
	text-align: center;
}

.container {
	display: flex;
	align-items: center;
	height: calc(100vh - 88px);
}

.link_container {
	color: var(--text-inactive-color);
}

.link {
	margin-left: calc(var(--offset-base-size) * 2);
	color: var(--colors-interface-accent);
	text-decoration: none;
}
