.burger_constructor {
	display: flex;
	flex-direction: column;
	width: 600px;
	margin: 0;
	padding: 0;
	color: var(--text-primary-color);
}

.ingredients {
	display: flex;
	flex-direction: column;
	row-gap: calc(var(--offset-base-size) * 4);
	overflow: auto;
}

.burger_constructor_li {
	position: relative;
	list-style: none;
}
