.callories {
	display: flex;
	justify-content: center;
	color: var(--text-inactive-color);
	column-gap: calc(var(--offset-base-size) * 4);
}

.image {
	width: 480px;
	height: 240px;
}

.details {
	max-width: 480px;
	margin: 0 auto;
	text-align: center;
}
