body {
	margin: 0;
}

.digint-shadow {
	text-shadow:
		0 0 16px rgb(51 51 255 / 25%),
		0 0 8px rgb(51 51 255 / 25%),
		0 4px 32px rgb(51 51 255 / 50%);
}

.status-complete {
	color: var(--colors-interface-success);
}

/* Fix for scrollbar */

@supports (scrollbar-color: auto) {
	.custom-scroll {
		scrollbar-color: #8585ad #2f2f37;
		scrollbar-width: thin;
	}

	body {
		scrollbar-color: #8585ad #2f2f37;
		scrollbar-width: thin;
	}
}
